<div id="<%= dom_id recipe %>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Source url:</strong>
    <%= recipe.source_url %>
  </p>

  <p>
    <strong>Adapted:</strong>
    <%= recipe.adapted %>
  </p>

  <p>
    <strong>Raw content:</strong>
    <%= recipe.raw_content %>
  </p>

</div>
