<div id="<%= dom_id step %>">
  <p>
    <strong>Recipe:</strong>
    <%= step.recipe_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= step.order %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= step.description %>
  </p>

  <p>
    <strong>Duration minutes:</strong>
    <%= step.duration_minutes %>
  </p>

</div>
